<header class="header header-main">
  <div class="container header__container">
    <nav class="nav">
      <a class="header__logo logo" href="/src/index.html"
        ><svg
          class="logo__icon"
          width="24"
          height="24"
          aria-label="Logo Filmoteka"
        >
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="/src/index.html"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">my library</a>
        </li>
      </ul>
    </nav>
    <form class="search-form" name="search-form">
      <input
        class="search-form__field"
        type="text"
        name="search-word"
        placeholder="Movie search"
      />
      <button class="search-form__btn" type="submit">
        <svg
          class="search-form__icon"
          width="12"
          height="12"
          aria-label="Icon search"
        >
          <use href="/src/images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
